/* ==========================================================================
    EDITOR STYLES
   ========================================================================== */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: .875em;
    line-height: 1.5;
}
a {
    color: #0174a2;
}
blockquote {
    font-style: italic;
}
.alignnone {
    margin: 1em 1em 1em 0;
}
.aligncenter,
div.aligncenter {
    display:block;
    margin: .5em auto;
}
.alignright,
div.alignright {
    float:right;
    margin: 0 0 1em 1em;
}
.alignleft,
div.aligncenter {
    float:left;
    margin: 0 1em 1em 0;
}
.aligncenter {
    display: block;
    margin: 1em auto;
}
#tinymce div {
    position: relative;
    border: 1px dashed #ccc;
}
#tinymce div:after {
    content: "<div>";
    position: absolute;
    top: 4px;
    right: 4px;
    color: #ccc;
    font-family: monospace;
    font-size: 1em;
}