/*  ==========================================================================
     FONTS

     This makes our site's fonts available to the backend editor so we can
     better reflect how the site's text looks. You should add these to the
     font select menu in the WYSIWYG (via functions.php) so they are available.
    ==========================================================================  */
/* ==========================================================================
    FONTS
   ========================================================================== */
/*  ==========================================================================
     EDITOR STYLES
    ==========================================================================  */
/* line 17, ../sass/editor/editor-styles.scss */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .875em;
  line-height: 1.5;
}

/* line 22, ../sass/editor/editor-styles.scss */
a {
  color: #0174a2;
}

/* line 25, ../sass/editor/editor-styles.scss */
blockquote {
  font-style: italic;
}

/* line 28, ../sass/editor/editor-styles.scss */
.alignnone {
  margin: 1em 1em 1em 0;
}

/* line 31, ../sass/editor/editor-styles.scss */
.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

/* line 35, ../sass/editor/editor-styles.scss */
.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 39, ../sass/editor/editor-styles.scss */
.aligncenter {
  display: block;
  margin: 1em auto;
}
