/* --------------------------------------------------
    Custom styles for editor
   -------------------------------------------------- */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25;
}
body p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body a {
    color: #21759b;
}
body blockquote {
    font-style: italic;
}
body blockquote p:before {
    content: "\201C";
    display: inline;
    padding-right: .1em;
}
body blockquote p:after {
    content: "\201D";
    display: inline;
}
body .alignnone {
    margin: 1em 1em 1em 0;
}
body .aligncenter,
body div.aligncenter {
    display:block;
    margin: .5em auto;
}
body .alignright {
    float:right;
    margin: 0 0 1em 1em;
}
body .alignleft {
    float:left;
    margin: 0 1em 1em 0;
}
body .aligncenter {
    display: block;
    margin: 1em auto;
}
#tinymce div {
    position: relative;
    border: 1px dashed #ccc;
}
#tinymce div:after {
    content: "<div>";
    position: absolute;
    top: 4px;
    right: 4px;
    color: #ccc;
    font-family: monospace;
    font-size: 1em;
}