@import "susy";
@import "fonts";
@import "custom";

// /*
// 	========================================
// 		::Custom Variables
// 	========================================
// */

$image-path: 'images/';
$icon-path: 'images/icons/';


// /*
// 	========================================
// 		::Breakpoints
// 	========================================
// */
$smallest: pxtoem(480px);
$small: pxtoem(600px);  //let's talk more about these.  I'd like to try and find common ground.
$medium: pxtoem(760px);
$large: pxtoem(1000px);
$x-large: pxtoem(1280px);
$xx-large: pxtoem(1400px);

$breakpoints: (
	smallest: $smallest,
	small: $small,
	medium: $medium,
	large: $large,
	x-large: $x-large,
	xx-large: $x-large
);


@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "That variable doesn't exist in '#{$breakpoint}' dummy"
      + "Add it to '$breakpoints' map, or GTFO.";
  }
}

// /*
// 	========================================
// 		::Z-index Map
// 	========================================
// */

$z-index: (

);

// /*
// 	========================================
// 		::Color Definitions and Map
// 	========================================
// */
$white: #fff;
$black: #2c313b;
$white: #fff;
$blue: #00aaec;
//these are examples.  call them like so: body { color: map-get($colors, copy-color); }
$colors: (
	body-bg: $white,
	body-copy: $black,
	selection-color: $white,
	selection-bg: $blue
);

@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unkown '#{$key}' in $colors.";
	@return null;
}
// /*
// 	========================================
// 		::Font Stacks
// 	========================================
// */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

//another example: font-family: map-get($fonts, base);

$fonts: (
	base: "'Lato', sans-serif"
);

